@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

*{
  box-sizing:border-box;
  margin: 0;
  padding:0;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:4px;
  background-color: #25252A;
}

li, a, button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
  font-size:18px;
  color: #edf0f2;
  text-decoration: none;

}

#menu {
  text-align: justify;
}

#menu * {
  display: inline;
}

#menu li {
  display: inline-block;
}

#menu span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

.container{

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  min-height: 100vh;

}

.btn-1
{

  width: 300px;
  height: 100px;
  border: none;
  color: white;
  background-color: rgb(27, 40, 173);
  border-radius: 4px;
  box-shadow: inset 0 0 0 0 rgb(28, 216, 232);
  transition: ease-out 0.3s;
  font-size: 2rem;
  outline: none;
}

.btn-1:hover

{
  box-shadow: inset 300px 0 0 0 rgb(28, 216, 232);
  cursor:pointer;
  color:#000000;
}

body {
  background-color: white;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

h1 {
  display: flex;
  justify-content: center;
  color: #4382ad;
  font-size: 300%;
}

h2 {
  color: #2254d3;
  font-size: 160%
}
h3{
  color: #0a305d;
  font-size:130%
}
canvas {
  width: 50px;
  height: 50px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.logo{
  cursor:pointer;
}

.nav_links{
  list-style: none;
}
.nav_links li {
  display:inline-block;
  padding:0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s
}

.nav_links li a:hover {
  color:#0088AA
}

button{
  padding:9px 25px;
  background-color: rgba(0,136,169,1);
  border:none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

