@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*start of basic styles*/

*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.main{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;

}
.hero{
	height: 100vh;
	width: 100%;
	background-position: center;
	background-color: #252525;
	background-size: cover;
}
.hero::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #191919, transparent);
	z-index: 1000;
}
nav{
	padding-top: 45px;
	padding-left: 3%;
	padding-right: 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	color: white;
	cursor: pointer;
	font-size: 35px;
	letter-spacing: 1px;
}
span{
	color: rgb(90, 50, 168);
}
nav ul li{
	padding: 6px  25px;
	list-style-type: none;
	display: inline-block;
}
nav ul li a{
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-transform: capitalize;
	border-radius: 30px;
}
nav ul li a:hover,
nav ul li a.active{
	color: rgb(90, 50, 168);
	transition: .4s;
}
nav img{
	width: 40px;
	height: 30px;
	visibility:visible;
}
nav .openMenu{
	display: none;
}
nav .closeMenu{
	display: none;
}
@media  screen and (max-width: 1130px){
	.mainMenu{
	 width: 50%;
	}
  }
   @media screen and (max-width: 900px){
	   
   .logo{
	   font-size: 20px;
   }
   
	.signUpButton{
	float: right;
	font-size: small;
	padding-bottom: 0px;
	background-color: rgb(90, 50, 168);
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 10px;
	transition: transform .4s;
	border: 2px solid transparent;
	}
	nav .mainMenu {
		margin-top: 60px;
		padding-top: 10px;
		position:absolute;
		top: 80px;
        right: 8px;
		background-color: rgb(142, 50, 168);
		display:flex;
		flex-direction: column;
		align-items:center;
		width: 30%;
		transition: right 1s ease;
		display: none;
		z-index: 1;
		
	}
	nav .mainMenu li{
	  padding-top: 1rem;
	}
	nav .mainMenu li :hover,
	nav ul li a.active{
		color: rgb(90, 50, 168);
	}
	nav .openMenu{
		position: absolute;
		top: 60px;
	  right: 30px;
	  color:white ;
	  display:flex;
	  cursor: pointer;
	 
	}
	nav .openMenu :hover{
	   color:rgb(142, 50, 168);
	}
	nav .mainMenu .closeMenu {
		margin-top: -80px;
	  display: block;
	  padding-top: 75px;
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  cursor: pointer;
	  color: white;
	  }
   nav .mainMenu .closeMenu :hover{
	
	 color:rgb(142, 50, 168);
   }
   
   .content h3{
	   margin-bottom: 15px;
	   font-size: 25px;
   }
   .content h1{
	margin: 15px 0 15px;
	   font-size: 35px;
   }
   
.about{
	overflow:hidden;
	padding-top: -100px;
	background-color: #191919;
}
.about img{
	position: absolute;
	margin-top: 100px;
	width: 10%;
	height: auto;
}
.about-text{
	position: absolute;
	margin-top: 200px;
	width: 90%;
	height: auto;
}
.title h2{
	visibility: hidden;
}

}
/*media ends*/
button{
	background-color: rgb(90, 50, 168);
	border: 2px solid transparent;
	box-shadow: inset 0 0 0 0 #2254d3;
	color: white;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: ease-out .8s;
	outline: none;
	text-decoration: none;
}
button:hover{
	border: 2px solid rgb(90, 50, 168);
	box-shadow: inset 300px 0 0 0 rgb(142, 50, 168);
	background-color: transparent;
	cursor: pointer;
}
.signUpButton{
	margin-top :10px;
	margin-right: 10px;
	padding-top: 20px;
	font-size: small;
	top: -5px;
	float:right;
	padding: 10px 25px;
	background-color: rgb(90, 50, 168);
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .4s;
	border: 2px solid transparent;
}
.signUpButton:hover{
	transform: scale(1.1);
}

.signout{
	margin-top :10px;
	margin-right: 10px;
	padding-top: 20px;
	font-size: small;
	top: -5px;
	float:right;
	padding: 10px 25px;
	background-color: rgb(90, 50, 168);
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .4s;
	border: 2px solid transparent;
}

.signout:hover{
	transform: scale(1.1);
}

.favorites{
	margin-top :10px;
	margin-right: 10px;
	padding-top: 20px;
	font-size: small;
	top: -5px;
	float:right;
	padding: 10px 25px;
	background-color: rgb(90, 50, 168);
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 30px;
	transition: transform .4s;
	border: 2px solid transparent;
}

.favorites:hover{
	transform: scale(1.1);
}
.content{
	transform: translateY(-50%);
	position: absolute;
	top: 50%;
	left:8%;

}
h1{
	color: white;
	font-size: clamp(35px, 1rem + 10vh, 70px);
	margin: 20px 0 20px;
}
h3{
	margin-bottom: 50px;
	color: white;
	font-size: 25px;

}
h4{
	letter-spacing: 2px;
	font-size: 20px;
	color: white;

}
h5{
	color: rgb(90, 50, 168);
	margin-bottom: 15px;
	font-size: 23px;

}
.pra p{
	line-height: 27px;
	margin-bottom: 25px;
	color: white;
	font-size: 16px;

}
.Query form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.Query form input:first-child{
	padding: 14px 130px 14px 15px;
	border: 3px solid rgb(90, 50, 168);
	border-radius: 30px;
	display: flex;
	position: center;
	width: 100%;
	outline: none;

}
.Query form input:last-child{
	padding: 10px 30px;
	border: none;
	border-radius: 30px;
	background-color: rgb(90, 50, 168);
	box-shadow: inset 0 0 0 0 #2254d3;
	color: white;
	position: absolute;
	display: inline-block;
	outline: none;
	top: 6px;
	right: 6px;
}

.Query form input:last-child:hover{
	box-shadow: inset 380px 0 0 0 rgb(142, 50, 168);
	transition: .8s;
	cursor: pointer;
}

.about{
	width: 100%;
	padding: 100px 0;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 525px;
}
.about-text{
	width: 550px;
}

.about-text h2{
	text-transform: capitalize;
	margin-bottom: 20px;
	color: white;
	font-size:clamp(35px, 1rem + 10vh, 75px);

}
.about-text h5{
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	color: white;
	letter-spacing: 2px;
}
.about-text p{
	color: white;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	letter-spacing: 1px;

}

.service{
	background: #101010;
	width: 100%;
	padding: 100px 0;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	text-align: center;
	display: block;
	margin: 25px 0;
	color: rgb(142, 50, 168);

}

.card .button{
	background-color: rgb(90, 50, 168);
	box-shadow: inset 0 0 0 0 #2254d3;
	border: 2px solid transparent;
	border-radius: 30px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 9px 22px;

}
.card .button:hover{
	transition: .8s;
	border: 2px solid rgb(90, 50, 168);
	background-color: rgb(142, 50, 168);
	cursor: pointer;
}
.contact-us
{
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 290px;
	background: #191919;
	display: flex;

}
.contact-us
p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
.contact-us
.button-two{
	background-color: rgb(90, 50, 168);
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s;
	color: white;
	text-decoration: none;

}
.contact-us
.button-two:hover{
	border: 2px solid rgb(90, 50, 168);
	background-color: rgb(142, 50, 168);
	cursor: pointer;
}
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;

}
footer p:nth-child(1){
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 30px;
	color: white;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	text-align: center;
	width: 500px;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	background:  rgb(90, 50, 168);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social a:hover{
	transform: scale(1.4);
	transition: .3s;
}
.end{
	position: absolute;
	color:	rgb(90, 50, 168);
	bottom: 35px;
	font-size: 14px; 
}
.preview-wrapper img {
	 height: 250px;
	 width: 250px;
	 
}
.preview-wrapper{
	justify-content: space-between;

	grid-row: 4;
}
div .preview-home-descriptions li{
	list-style: none;
	color: rgb(90, 50, 168);
	justify-content:last baseline;
}
div.home-search{

	margin-top:-650px;
	min-height: 1300px;
	position: absolute;
	padding: 50px;
	color: white;
}
div.home-result{
	position:center;
	padding: 50px;
	background: #191919;
	color:white;
}
select.state{
	position: absolute;
	top:210px;
	padding: 8px;
	border-radius: 3rem;
	border: 3px solid rgb(90, 50, 168);
	
}
select.rent-buy{
	position: absolute;
	top:210px;
	padding: 8px;
	left: 200px;
	border-radius: 3rem;
	border: 3px solid rgb(90, 50, 168);
}
